<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See https://stackoverflow.com/a/40085473 -->
  <location inheritInChildApplications="false" path=".">
    <system.web>
      <!--The default size is 4096 kilobytes (4 MB). MaxValue is 2147483647 KB (2 TB)-->
      <httpRuntime maxRequestLength="2147483647" />
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" value="/" />
          <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
          <remove name="X-Powered-By" />
          <remove name="Server" />
        </customHeaders>
      </httpProtocol>
      <!-- See https://stackoverflow.com/questions/4968006/response-buffer-limit-exceeded/40934842#40934842 -->
      <asp>
        <limits bufferingLimit="2147483647" maxRequestEntityAllowed="2147483647" />
      </asp>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <security>
        <requestFiltering allowDoubleEscaping="true">
          <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
          <requestLimits maxAllowedContentLength="4294967295" />
        </requestFiltering>
      </security>
      <handlers>
        <remove name="WebDAV" />
        <add modules="AspNetCoreModuleV2" name="aspNetCore" path="*" resourceType="Unspecified" verb="*" />
      </handlers>
      <aspNetCore arguments="%LAUNCHER_ARGS%" hostingModel="InProcess" processPath="Contoso.Unicorn.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44336" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 05233676-329c-47b6-97c9-15c8151cde3f-->